<h1>Demo#index</h1>
<p>Hello Index</p>

<a href="/demo/hello">Hello World 1</a>
<br/>
<%= link_to('Hello World 2',{controller: 'demo', action: 'hello'}) %>

<br/>
<%= link_to('Hello World 3',{controller: 'demo', action: 'hello', id: 10, name: 'Bhargav', age: 24}) %>